root {
    --black: #000;
}

.logo {
    width: 10vw;
    height: auto;
}

p {
    margin: auto;
}

header {
    /* position: fixed; */
}

.header {
    background-color: #000;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.start-45 {
    left: 45%;
}

.logo-footer {
    width: auto;
    height: 2rem;
}

.search-click {
    background-image: url('../img/magnifying-glass-solid.svg');
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    outline: none;
    background-size: 22px;
    background-position: 13px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 25px;
    transition: all 0.5s;
}

.search-click:focus {
    width: 300px;
    padding-left: 50px;
}

.search-click {
    position: relative;
    overflow: hidden;
    height: 50px;
}

.search-click input {
    background: transparent;
    border: 1px solid #ccc;
    outline: none;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 0%;
    padding: 10px;
}

/* MAIN */

main {}

.grid-products img {
    margin: auto;
    max-width: 70%;
    max-height: 70%;
    display: block;
}

.col a {
    text-decoration: none;
    color: #000;
}

.fa-heart {
    cursor: pointer;
}